Repository MMAI-team/MMAI-team-project, pull requests merged in 2023-12, with the labels that each got.

#7 feat: implement telegram bot
  .gitignore
  telegram-bot/.env-example
  telegram-bot/bot_methods.py
  telegram-bot/main.py
  telegram-bot/models.py
Labels: enhancement, telegram

#14 feat: added class for SIFT-based matching algorithm
  feature_points/demo.py
  feature_points/sift_matcher.py
Labels: enhancement

#17 docs: add necessary readme files
  README.md
  telegram-bot/.env-example
  telegram-bot/README.md
  telegram-bot/img/sequence-diagram.png
  telegram-bot/img/telegram-demo.png
Labels: documentation, enhancement

#19 Website
  website_root/.gitignore
  website_root/build/asset-manifest.json
  website_root/build/index.html
  website_root/build/precache-manifest.0866a0e67622b93d324c3f76110e7ca4.js
  website_root/build/service-worker.js
  website_root/build/static/js/2.767da11c.chunk.js
  website_root/build/static/js/2.767da11c.chunk.js.LICENSE.txt
  website_root/build/static/js/2.767da11c.chunk.js.map
  website_root/build/static/js/main.d059d29b.chunk.js
  website_root/build/static/js/main.d059d29b.chunk.js.map
  website_root/build/static/js/runtime-main.657d4b67.js
  website_root/build/static/js/runtime-main.657d4b67.js.map
  website_root/package.json
  website_root/src/Upload.js
  website_root/src/index.js
Labels: enhancement, web
